@use './variables' as *;

@mixin grid-center {
  display: grid;
  place-items: center;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-gap($gap) {
  display: flex;
  gap: $gap;
  flex-direction: column;
}
@mixin grid-scroll($grid-width, $snap-align: start) {
  grid-template-columns: initial;
  grid-auto-flow: column;
  grid-auto-columns: $grid-width;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  & > * {
    scroll-snap-align: $snap-align;
  }
}
@mixin flex-scroll($snap-align: start) {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  &::-webkit-scrollbar {
    display: none;
  }
  & > * {
    scroll-snap-align: $snap-align;
  }
}
@mixin absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
