@use '../abstracts/variables' as *;

.icon-globe {
	width: clamp(20px, 2vw, 24px);
	transition: fill 0.3s;
	fill: $clr-dark-teal;
}
.icon-menu {
	fill: $clr-dark-teal;
	transition: fill 0.3s;
}
.icon-hash {
	width: clamp(20px, 1.5vw, 28px);
}
.icon-location {
	width: clamp(20px, 1.5vw, 24px);
}
.icon-play {
	width: 40%;
	fill: #fff;
	transition: fill 0.3s;
}
.icon-arrow {
	width: clamp(16px, 1.4vw, 24px);
	&--reverse {
		transform: rotate(180deg);
	}
}
