@use './abstracts/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  // y<x<1920, x based on 1920px design
  font-size: min(100vw / (1920 / 10), 1920 / 1920 * 10px);
}
body {
  font-family: $font-base, Verdana;
  font-size: max(1.6rem, 14px);
  line-height: 1.35;
}
h1,
h2 {
  color: $clr-deep-slate;
}
p {
  line-height: 1.45;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  object-fit: cover;
}
svg {
  fill: inherit;
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
}
input,
textarea {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
}

/* Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
