/* === Background Colors === */
.bg-dark-teal {
  background-color: #008b5f;
}
.bg-rich-teal {
  background-color: #009969;
}
.bg-dark-green {
  background-color: #006646;
}
.bg-deep-green {
  background-color: #003323;
}
.bg-bright-teal-alt {
  background-color: #008b5e;
}

.bg-dark-slate {
  background-color: #2c3a47;
}
.bg-deep-slate {
  background-color: #11171c;
}
.bg-steel-blue {
  background-color: #56616c;
}
.bg-charcoal-gray {
  background-color: #1f2937;
}
.bg-dark-charcoal {
  background-color: #111827;
}
.bg-dark-slate-blue {
  background-color: #323b49;
}

.bg-light-gray {
  background-color: #eaebed;
}
.bg-almost-white {
  background-color: #fafafa;
}
.bg-light-white {
  background-color: #f8f8f8;
}
.bg-light-beige {
  background-color: #f8f3ed;
}

.bg-medium-beige {
  background-color: #d2ba93;
}

/* === Text Colors === */
.clr-dark-teal {
  color: #008b5f;
}
.clr-rich-teal {
  color: #009969;
}
.clr-dark-green {
  color: #006646;
}
.clr-deep-green {
  color: #003323;
}
.clr-bright-teal-alt {
  color: #008b5e;
}

.clr-dark-slate {
  color: #2c3a47;
}
.clr-deep-slate {
  color: #11171c;
}
.clr-steel-blue {
  color: #56616c;
}
.clr-charcoal-gray {
  color: #1f2937;
}
.clr-dark-charcoal {
  color: #111827;
}
.clr-dark-slate-blue {
  color: #323b49;
}

.clr-light-gray {
  color: #eaebed;
}
.clr-almost-white {
  color: #fafafa;
}
.clr-light-white {
  color: #f8f8f8;
}
.clr-light-beige {
  color: #f8f3ed;
}

.clr-medium-beige {
  color: #d2ba93;
}

/* === SVG / Icon Fills === */
.fill-dark-teal {
  fill: #008b5f;
}
.fill-rich-teal {
  fill: #009969;
}
.fill-dark-green {
  fill: #006646;
}
.fill-deep-green {
  fill: #003323;
}
.fill-bright-teal-alt {
  fill: #008b5e;
}

.fill-dark-slate {
  fill: #2c3a47;
}
.fill-deep-slate {
  fill: #11171c;
}
.fill-steel-blue {
  fill: #56616c;
}
.fill-charcoal-gray {
  fill: #1f2937;
}
.fill-dark-charcoal {
  fill: #111827;
}
.fill-dark-slate-blue {
  fill: #323b49;
}

.fill-light-gray {
  fill: #eaebed;
}
.fill-almost-white {
  fill: #fafafa;
}
.fill-light-white {
  fill: #f8f8f8;
}
.fill-light-beige {
  fill: #f8f3ed;
}

.fill-medium-beige {
  fill: #d2ba93;
}
