@use '../abstracts/variables' as *;

.overflow-hidden {
  overflow: hidden;
}
.dis-none {
  display: none !important;
}

.btn-green {
  font-weight: 500;
  background-color: $clr-dark-teal;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
  &:hover {
    background-color: #fff;
    color: $clr-dark-teal;
    [class*='icon-'] {
      fill: $clr-dark-teal;
    }
  }
}
